---
layout: base
---

<article class="flex w-full justify-center pt-20">
    <div class="w-[680px] relative">
        <header class="px-2">
            <h1 class="changelog-heading py-1">{{ title }}</h1>
            <h3 class="changelog-subheading py-1">{{ description }}</h3>
            <time class="changelog-date py-1" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        </header>
        <div class="px-2 pt-12 pb-16">
            {{ content | safe }}
        </div>
    </div>
</article>
<script>
    function addLabelToElement(element, labelText, position = 'after') {
        // Create the label element
        const label = document.createElement('label');
        label.textContent = labelText;
        label
            .classList
            .add("image-title")

        // Set a unique ID for the target element if it doesn't have one
        if (!element.id) {
            element.id = 'element-' + Math
                .random()
                .toString(36)
                .substr(2, 9);
        }

        // Associate the label with the element
        label.htmlFor = element.id;

        // Insert the label based on position preference
        if (position === 'before') {
            element
                .parentNode
                .insertBefore(label, element);
        } else {
            element
                .parentNode
                .insertBefore(label, element.nextSibling);
        }

        return label;
    }

    const el = document.querySelectorAll("article p img");

    el.forEach(e => addLabelToElement(e, e.title, "after"))
</script>