---
layout: base
---
<div class="w-full flex justify-center py-10">
    <div class="w-[600px] relative flex flex-col pt-6 md:pt-0">
        <h2 class="py-4 px-3">
            EMPOWERING DATA-INFORMED DECISIONS
        </h2>
        <h3 class="py-2 px-3">
        About Us
        </h3>

        <span class="py-2 px-3">
        We’re an ambitious California-based technology startup. Our goal is to help knowledge workers and their respective organizations increase the accuracy and rate of data-informed decisions.   
        </span>

        <span class="py-2 px-3">
        Our algorithms automatically analyze organizational data as a data scientist would and produce beautiful, personally relevant insights around meaningful discoveries.
        </span>

        <span class="py-2 px-3">
        To learn how Sphere can impact your organization, request a demo or early access here. 
        </span>

        <h3 class="py-2 px-3">
            Work at Sphere
        </h3>

        <span class="py-2 px-3">
        Building intelligent systems is a laborious process. If you want to challenge yourself, experiment, invent, and build in a collaborative environment, please send us a message: hi@sphereinsight.com
       </span>
    </div>
</div>